.place-card {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  margin-left: 30px;
  margin-bottom: 20px;
  background-color: antiquewhite;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.place-card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.info {
  padding: 10px;
  text-align: center;
}

.name {
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.type,
.description,
.city {
  font-size: 1em;
  color: #666;
  margin-bottom: 5px;
}

.description {
  font-style: italic;
}
.id {
  font-size: 1em;
  color: #333;
}
